/* Static state */

.box {
  border-radius: 8px;
  overflow: auto;
}

.box::-webkit-scrollbar {
  width: var(--box-scrollbar-width-unit);
  border-radius: var(--box-scrollbar-border-radius-static);
}

.box::-webkit-scrollbar-corner {
  background-color: transparent;
}

.box::-webkit-scrollbar-track,
.box::-webkit-scrollbar-thumb {
  border: calc(var(--box-scrollbar-border-width) + 1px) solid transparent;
  border-radius: var(--box-scrollbar-border-radius-static);
  background-color: #E6E6E6;
  background-clip: padding-box;
}

.box::-webkit-scrollbar-thumb {
  background-color: #666666;
}

.box::-webkit-scrollbar-track:hover,
.box::-webkit-scrollbar-thumb:hover {
  border-width: var(--box-scrollbar-border-width);
  border-radius: var(--box-scrollbar-border-radius-hover);
}

/* Hover modifier */

.box.box--scroll-hover {
  cursor: grab;
}

/* Mouse down modifier */

.box.box--scroll-hover.box--mouse-down {
  cursor: grabbing;
}

.box.box--scroll-hover.box--mouse-down::-webkit-scrollbar-thumb {
  border: calc(var(--box-scrollbar-border-width) - 2px) solid transparent;
}